<!DOCTYPE html>
<html>
<head>
  <title>TestDemo</title>
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>

<%= javascript_include_tag "handlebars-v4.0.5.js" %>
<%= javascript_include_tag "home.js" %>
<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</html>
